body {
  @apply font-main;
}

.hero {
  p {
    @apply font-sans;
  }
  h3 {
    @apply whitespace-nowrap;
  }
  .wp-block-image img {
    max-width: 400px;
    @apply mx-auto w-full;
    @screen md {
      max-width: 550px;
    }
  }
}

.wp-site-blocks {
  .wp-block-site-title {
    letter-spacing: 1px;
    @apply text-primary font-bold text-xl uppercase;
  }

  .page-title {
    max-width: 570px;
    letter-spacing: 1px;

    @apply text-title font-medium;

    &.site-title {
      @apply text-5xl font-bold;
    }

    &.full-width {
      @apply max-w-full;
    }

    + hr {
      max-width: 470px;
      @apply border-b-4 border-y-accent-sun-yellow my-6 mx-auto;
    }
  }

  p {
    @apply text-lg mb-4;
  }

  .headline {
    @apply text-5xl leading-snug font-medium;
  }

  ul {
    @apply list-disc ml-3 mb-4;
    li {
      @apply pl-4;
    }
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  hr {
    @apply border-y-gray-300 mb-6;
  }

  .hide-mobile {
    @apply hidden md:block;
  }

  .show-mobile {
    @apply block md:hidden;
  }

  .wp-block-button__link {
    @apply bg-transparent p-3;
  }

  .wp-block-button,
  .button {
    @apply bg-primary text-white border-2 border-primary font-medium text-2xl p-0 whitespace-normal w-full sm:w-auto text-center;

    &.alt {
      @apply bg-accent-fresh-green border-accent-fresh-green;
    }

    &.clear {
      @apply bg-transparent border-white;
    }

    &.alt4 {
      @apply bg-accent-mango border-accent-mango;
    }

    &.alt7 {
      @apply bg-accent-red border-accent-red;
    }

    &.alt8 {
      @apply bg-accent-amber border-accent-amber;
    }
  }

  .spanish {
    @apply hidden;
  }

  .team-image img {
    max-width: 350px;
    @apply w-full;
  }

  .programs {
    margin-top: 100px;
    @apply grid gap-x-8 gap-y-36 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4;

    .top img {
      @apply h-52 w-auto;
    }

    figure {
      margin-top: -150px;
      max-width: 300px;
      @apply mb-4 mx-auto;
    }
  }
}
