body {
  @apply font-main;
}

html {
  @apply overflow-x-hidden;
}

.hero {
  p {
    @apply font-sans;
  }
  h3 {
    @apply whitespace-nowrap;
  }
  .wp-block-image img {
    max-width: 400px;
    @apply mx-auto w-full;
    @screen md {
      max-width: 550px;
    }
  }
}

.wp-site-blocks {
  .wp-block-site-title {
    letter-spacing: 1px;
    max-width: 160px;

    @apply text-primary font-bold text-lg uppercase;

    @screen sm {
      @apply text-xl;
    }

    @screen 2xs {
      @apply max-w-full;
    }
  }

  .page-title {
    max-width: 570px;
    letter-spacing: 1px;

    @apply text-title font-medium;

    &.primary {
      @apply text-primary;
    }

    &.large {
      @apply text-5xl;
    }

    &.site-title {
      @apply text-5xl font-bold;
    }

    &.full-width {
      @apply max-w-full;
    }

    + hr {
      max-width: 470px;
      @apply border-b-4 border-y-accent-sun-yellow my-6 mx-auto;
    }
  }

  p {
    @apply text-lg mb-4;

    &:not(.has-text-color) a {
      @apply text-primary-dark;
    }
  }

  .headline {
    @apply text-5xl leading-snug font-medium;
  }

  ul {
    @apply list-disc ml-3 mb-4;
    li {
      @apply pl-4;
    }
  }

  h2 {
    @apply text-3xl font-semibold;
    a {
      @apply text-primary-dark;
    }
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  hr {
    @apply border-y-gray-300 mb-6;
  }

  p > img,
  p > a > img {
    @apply inline;
  }

  .shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .hide-mobile {
    @apply hidden md:block;
  }

  .show-mobile {
    @apply block md:hidden;
  }

  .hide-to-large {
    @apply hidden xl:block;
  }

  .show-to-large {
    @apply block xl:hidden;
  }

  .spanish,
  .volunteer {
    @apply hidden;
  }

  .toggle-donate-volunteer {
    @apply cursor-pointer;
  }

  .limit-width {
    @apply max-w-xl m-auto;
  }

  .round-border {
    @apply border-4 rounded-3xl border-solid p-2 pb-1 text-center;

    &.color-1 {
      @apply border-accent-fresh-green;
    }

    &.color-2 {
      @apply border-accent-mango;
    }

    &.color-3 {
      @apply border-primary;
    }

    &.color-4 {
      @apply border-accent-spartan-gray;
    }
  }

  .team-image img {
    max-width: 350px;
    @apply w-full;
  }

  .programs {
    margin-top: 100px;
    @apply grid gap-x-8 gap-y-36 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4;

    .top img {
      @apply h-52 w-auto;
    }

    figure {
      margin-top: -150px;
      max-width: 300px;
      @apply mb-4 mx-auto rounded-full;
    }
  }

  .wpforms-container.contact-form {
    max-width: 600px;

    .wpforms-field-label {
      @apply text-xl font-medium;
    }

    .wpforms-field {
      @apply mb-4;
    }

    button[type="submit"].submit {
      min-width: 200px;
      @apply mx-auto block text-xl font-medium bg-primary text-white;
    }

    textarea {
      min-height: 120px;
      max-height: 120px;
    }
  }
}
