.wp-site-blocks {
  @apply px-4;

  .navigation,
  .page-content {
    @apply max-w-limit mx-auto;
  }

  .page-content > :where(:not(.alignleft):not(.alignright)) {
    @apply max-w-none;
  }

  .stack-small {
    @apply block 2xs:inline-flex;
  }

  .wp-block-buttons {
    @apply gap-4;
  }

  .wp-block-columns {
    @apply gap-4;

    &.small-gap {
      @apply gap-2.5;
    }

    &.full-width {
      margin-left: -50vw;
      margin-right: -50vw;
      max-width: 100vw;

      @apply w-screen relative left-1/2 right-1/2;
    }

    .wp-block-column.stretch {
      @apply flex flex-col;

      .wp-block-group {
        @apply flex-grow;
      }
    }
  }
}
