<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull">
  <!-- wp:heading {"textAlign":"center","fontSize":"large"} -->
  <h2 class="has-text-align-center has-large-font-size">
    Sorry, we couldn't find that page. Please <a href="#">contact us</a> if you
    have any questions.
  </h2>
  <!-- /wp:heading -->

  <!-- wp:spacer {"height":"176px"} -->
  <div style="height: 176px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
